@model BibliotecaPessoal.Models.Livro

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paginas" class="control-label"></label>
                <input asp-for="Paginas" class="form-control" />
                <span asp-validation-for="Paginas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn10" class="control-label"></label>
                <input asp-for="Isbn10" class="form-control" />
                <span asp-validation-for="Isbn10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn30" class="control-label"></label>
                <input asp-for="Isbn30" class="form-control" />
                <span asp-validation-for="Isbn30" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditoraId" class="control-label"></label>
                <select asp-for="EditoraId" class="form-control" asp-items="ViewBag.EditoraId"></select>
                <span asp-validation-for="EditoraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
